<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Jared's Portfolio</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <style>
      /* Alison Quaglia: https://www.sliderrevolution.com/resources/css-animated-background/ */
      html, body {
        width: 100%;
        height:100%;
      }
      h1 {
        color: white;
      }
      body {
        background: linear-gradient(-45deg, #a513fa, #072fdf, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
      }

      .btn-group {
        margin-top: 35%;
      }
      
      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    </style>
    <!--REMOVE ESTIMATED COMPLETION SOON-->
    <h1>Jared Stearne - Estimated Completion: December 28, 2021<br><small>Development Portfolio</small></h1>
    
    <br><br>
    <!--Button grouped in container at center-->
    <div class="text-center"> 
      <div class="btn-group" role="group" aria-label="Triple Modal">
        
        <!--TRIGGER ABOUT MODAL-->
        <button type="button" class="btn btn-outline-light btn-lg" data-bs-toggle="modal" data-bs-target="#aboutModal"><h1>About</h1></button>
        <!--ABOUT Modal contents-->
        <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">All about Jared</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body"><!--ABOUT ME TEXT-->
                <p style="text-align: left; font-size: large;"> 
                  I've worked in business-to-business sales my entire career, and I've enjoyed some success. 
                  But I realized that I like building things and I love learning new things even more, particularly when it comes to technology.
                  <br><br>
                  In 2020, I resolved to lean into what I really like and love. So I bought a used T-450 Thinkpad with way too little memory, installed Linux and hacked it to bits. 
                  And when I hit a wall in self-directed hobby-projects, I upgraded my laptop and signed up for a nights-and-weekends immersive software development bootcamp.
                  <br><br>
                  I joined General Assembly's Immersive Software Development course in May, not knowing a virtual enviornment from Vanilla JS. 
                  Now, I'm proud to see I've come a long way, and I'm even more excited to go further. In the past months, I've had a chance to build apps with a variety of
                  languages and frameworks, all on my own or as part of a team. I know I can offer so much more, and I want to show it.
                  <br><br>
                  <b>Technical Skills:</b> Python, Javascript, HTML/CSS, React, Django, NodeJS, Express, SQL/Postgresql, MongoDB, jQuery, git, Heroku, REST API
                  <br><br>
                  <b>Soft Skills:</b> Communication, empathy, public speaking, presentation, content writing, note taking, delegation, task management
                </p>
                
              </div>
              <div class="modal-footer">
                <a href="https://github.com/jstearne" class="btn btn-primary btn-lg" role="button" target="_blank">Github</a>
                <a href="https://drive.google.com/file/d/1o3ykV08fwCiDjaLF1epz1XuS756iaNdt/view?usp=sharing" class="btn btn-primary btn-lg" role="button" target="_blank">Resume</a>
                <a href="https://www.linkedin.com/in/jared-stearne" class="btn btn-primary btn-lg" role="button" target="_blank">Linkedin</a>
                <button type="button" class="btn btn-danger btn-lg" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div><!--contents end-->
        
        
        <!--TRIGGER PROJECTS MODAL-->
        <button type="button" class="btn btn-outline-light btn-lg" data-bs-toggle="modal" data-bs-target="#projectsModal"><h1>Projects</h1></button>
        <!--PROJECTS Modal contents-->
        <div class="modal fade" id="projectsModal" tabindex="-1" aria-labelledby="projectsModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">My Projects</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                
                <!--Carousel-->
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                      <img src="https://marvel-b1-cdn.bc0a.com/f00000000052994/www.hillspet.com/content/dam/cp-sites/hills/hills-pet/en_us/exported/dog-care/new-pet-parent/images/golden-retriever-puppy-running-outside.jpg" class="d-block w-100" alt="puppy-1">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>My Wedding App</h5>
                        <p>Built with Python/Django and a Bootstrap frontend.</p>
                      </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                      <img src="https://images.squarespace-cdn.com/content/v1/53a60116e4b0488fb14d69d8/1597336605370-5BEYBPCYKAZEMWC4J7KQ/image-asset.jpeg?format=1000w" class="d-block w-100" alt="puppy-2">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Fidget</h5>
                        <p>Built with Node/Express server and a pure HTML/CSS/Javascript frontend.</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="https://www.akc.org/wp-content/uploads/2021/05/Alaskan-Malamute-puppy-laying-down-outdoors.jpg" class="d-block w-100" alt="puppy-3">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <!--end carousel-->
              </div>
              <div class="modal-footer">
                <a href="https://github.com/jstearne" class="btn btn-primary btn-lg" role="button" target="_blank">Github</a>
                <a href="https://drive.google.com/file/d/1o3ykV08fwCiDjaLF1epz1XuS756iaNdt/view?usp=sharing" class="btn btn-primary btn-lg" role="button" target="_blank">Resume</a>
                <a href="https://www.linkedin.com/in/jared-stearne" class="btn btn-primary btn-lg" role="button" target="_blank">Linkedin</a>
                <button type="button" class="btn btn-danger btn-lg" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div><!--modal contents end-->
        

        <!--TRIGGER RESUME/GIT MODAL-->
        <button type="button" class="btn btn-outline-light btn-lg" data-bs-toggle="modal" data-bs-target="#githubModal"><h1>Credentials</h1></button>
        <!--GITHUB Modal contents-->
        <div class="modal fade" id="githubModal" tabindex="-1" aria-labelledby="githubModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-body">
                <!--RESUME PDF EMBED-->
                <iframe src="https://drive.google.com/file/d/1o3ykV08fwCiDjaLF1epz1XuS756iaNdt/preview#view=FitH" width="720" height="850" allow="autoplay"></iframe>
              </div>
              <div class="modal-footer">
                <a href="https://github.com/jstearne" class="btn btn-primary btn-lg" role="button" target="_blank">Github</a>
                <a href="https://drive.google.com/file/d/1o3ykV08fwCiDjaLF1epz1XuS756iaNdt/view?usp=sharing" class="btn btn-primary btn-lg" role="button" target="_blank">Resume</a>
                <a href="https://www.linkedin.com/in/jared-stearne" class="btn btn-primary btn-lg" role="button" target="_blank">Linkedin</a>
                <button type="button" class="btn btn-danger btn-lg" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div><!--contents end-->
        
      </div>
    </div>  
  </body>
</html>